<div class='container'>
    <br>

    <h1>Pipes</h1>
    <hr>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Variable</th>
                <th scope="col">Pipe</th>
                <th scope="col">Resultado</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{nombre}}</td>
                <td>uppercase</td>
                <td>{{nombre | uppercase}}</td>
            </tr>
            <tr>
                <td>{{nombre}}</td>
                <td>lowercase</td>
                <td>{{nombre | lowercase}}</td>
            </tr>
            <tr>
                <th>{{nombre}}</th>
                <th>slice:2</th>
                <th>{{nombre | slice:2}}</th>
            </tr>
            <tr>
                <td>{{nombre}}</td>
                <td>slice:0:2</td>
                <td>{{nombre | slice:0:2}}</td>
            </tr>
            <tr>
                <td>{{numeros}}</td>
                <td>slice:1:5</td>
                <td>{{numeros | slice:1:5}}</td>
            </tr>
            <tr>
                <th>{{pi}}</th>
                <th>number:'3.0-0'</th>
                <th>{{pi | number:'3.0-0'}}</th>
            </tr>
            <tr>
                <td>{{pi}}</td>
                <td>number:'1.0-2'</td>
                <td>{{pi | number:'1.0-2'}}</td>
            </tr>
            <tr>
                <th>{{a}}</th>
                <th>percent</th>
                <th>{{a | percent}}</th>
            </tr>
            <tr>
                <td>{{a}}</td>
                <td>percent:'2.0-2'</td>
                <td>{{a | percent:'2.0-2'}}</td>
            </tr>
            <tr>
                <td>{{a}}</td>
                <td>percent:'2.0-3'</td>
                <td>{{a | percent:'2.0-3'}}</td>
            </tr>
            <tr>
                <th>{{dinero}}</th>
                <th>currency</th>
                <th>{{dinero | currency}}</th>
            </tr>
            <tr>
                <td>{{dinero}}</td>
                <td>currency:'EUR'</td>
                <td>{{dinero | currency:'EUR'}}</td>
            </tr>
            <tr>
                <td>{{dinero}}</td>
                <td>currency:'EUR':false</td>
                <td>{{dinero | currency:'EUR':false}}</td>
            </tr>
            <tr>
                <td>{{dinero}}</td>
                <td>currency:'EUR':true:'.0-2'</td>
                <td>{{dinero | currency:'EUR':true:'.0-2'}}</td>
            </tr>
            <tr>
                <th>{{promesa}}</th>
                <th>async</th>
                <th>{{promesa | async}}</th>
            </tr>
            <tr>
                <th>{{fecha}}</th>
                <th>date</th>
                <th>{{fecha | date}}</th>
            </tr>
            <tr>
                <td>{{fecha}}</td>
                <td>date:'medium'</td>
                <td>{{fecha | date:'medium'}}</td>
            </tr>
            <tr>
                <td>{{fecha}}</td>
                <td>date:'MMMM - dd'</td>
                <td>{{fecha | date:'MMMM - dd'}}</td>
            </tr>
        </tbody>
    </table>

    <h4>Slice</h4>
    <ul>
        <li *ngFor='let numero of numeros | slice:5:20'>{{numero}}</li>
    </ul>

    <h4>JSON</h4>
    <pre>
      {{heroe | json }}
    </pre>
</div>